footer {
    background-color: #313b3f;
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: center;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    p {
      margin: 0;
      font: normal 12px sans-serif;
    }
  }