html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  
    #root {
      position: relative;
      height: 100vh;
    }
    #root, .wrapper {
      height: 100%;
    }
    
    p {
      margin: 0;
    }
  }